MPRINTER_OPEN_BROWSER=0
MPRINTER_DASHBOARD_HOST=0.0.0.0
MPRINTER_DASHBOARD_PORT=5055
MPRINTER_DATA_DIR=./data
MPRINTER_PROPOSAL_OUTPUT_DIR=proposals
MPRINTER_BUILD_PACKAGE_OUTPUT_DIR=build-packages

GOOGLE_DRIVE_ENABLED=false
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON=
GOOGLE_DRIVE_SERVICE_ACCOUNT_FILE=
